<nav class="navbar navbar-inverse bg-inverse" *ngIf="!isUserLoggedIn">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">{{title}}</a>
    </div>
  </div>
</nav>
<nav class="nvabar navbar-toggleable navbar-inverse bg-inverse" *ngIf="isUserLoggedIn">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="#" class="navbar-brand">{{title}}</a>

  <div class="collapse navbar-collapse" id="navbarTogglerMainMenu">
    <ul class="navbar-nav mr-auto mt-2 mt-md-0">
      <li class="nav-item active">
        <a href="#" class="nav-link">
          Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>
    <form action="" class="form-inline">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </div>
</nav>
