<form>
  <h2>Search Everything</h2>
  <div>
    <input #searchBar placeholder="Search News">
    <select name="source" [(ngModel)]="selectedSource">
      <option value="">Select Source</option>
      <option *ngFor="let source of sources" [ngValue]="source.id">{{source.name}}</option>
    </select>

    <div>
      <input #fromDate [owlDateTime]="dtlFrom" [owlDateTimeTrigger]="dtlFrom" placeholder="From Date Time">
      <owl-date-time #dtlFrom></owl-date-time>
    </div>

    <div>
      <input #toDate [owlDateTime]="dtlTo" [owlDateTimeTrigger]="dtlTo" placeholder="To Date Time">
      <owl-date-time #dtlTo></owl-date-time>
    </div>
    <button (click)="performSearch(searchBar.value, fromDate.value, toDate.value)">Search</button>
  </div>
</form>
