<h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <fieldset class="form-group">
    <label for="email">Email</label>
    <input
      type="text"
      formControlName="email"
      class="form-control form-control-lg"
      [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
    />
    <div *ngIf="submitted && f.email.error" class="invalid-feedback">
      <span *ngIf="f.email.erros.required">Email is required</span>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <label for="password">Password</label>
    <input
      type="password"
      formControlName="password"
      class="form-control form-control-lg"
      [ngClass]="{ 'is-invalid': submitted && f.password.erros }"
    />
    <div *ngIf="submitted && f.password.error" class="invalid-feedback">
      <span *ngIf="f.password.errors.required">Password is required</span>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <button [disabled]="loading" class="btn btn-lg btn-primary">Login</button>
    <img *ngIf="loading" class="pl-3" src="" />
    <a routerLink="/register" class="btn btn-link">Register</a>
  </fieldset>
</form>
