<form>
  <h2>Search Top Headlines</h2>
  <div flex>
    <input
      class="form-control"
      #searchBar
      placeholder="Search News"
      [formControl]="searchNews"
    />
    <select class="form-control" name="country" [(ngModel)]="selectedCountry">
      <option value="">Select Country</option>
      <option *ngFor="let country of countries" [ngValue]="country.code">{{
        country.name
      }}</option>
    </select>
    <app-news-category
      (categorySelected)="setSelectedCategory($event)"
    ></app-news-category>
  </div>
  <button
    class="btn btn-primary form-control"
    (click)="performSearch(searchBar.value)"
  >
    Search
  </button>
</form>
