<form>
  <h2>Search Top Headlines</h2>
  <div flex>
    <input
      class="form-control"
      #searchBar
      placeholder="Search News"
      [formControl]="searchNews"
    />

    <app-news-country
      (countrySelected)="setSelectedCountry(event)"
    ></app-news-country>
    <app-news-category
      (categorySelected)="setSelectedCategory($event)"
    ></app-news-category>
  </div>
  <button
    class="btn btn-primary form-control"
    (click)="performSearch(searchBar.value)"
  >
    Search
  </button>
</form>
