<h3>Manage your favourite news categories</h3>
<div class="m-5">
  <div class="m-5">
    <app-news-category
      class="div-inline"
      [(categorySelected)]="selectedCategory"
    ></app-news-category>
    <button class="btn btn-primary ml-2" (click)="addSelectedCategory()">
      Add Category
    </button>
  </div>
  <div class="m-5">
    <app-news-country
      class="div-inline"
      [(countrySelected)]="selectedCountry"
    ></app-news-country>
    <button class="btn btn-primary ml-2" (click)="addSelectedCountry()">
      Add Country
    </button>
  </div>
  <div class="m-5">
    <h3 class="pb-2">Subscription Frequency</h3>
    <div
      class="p-1 form-check form-check-inline"
      *ngFor="let frequency of subscriptionFrequencies"
    >
      <input
        type="radio"
        class="form-check-input"
        [(ngModel)]="selectedSubscriptionFrequency"
        name="subscriptionFrequency"
        id="subscription-frequency-{{ frequency | lowercase }}"
        value="{{ frequency }}"
      />
      <label
        class="form-check-label"
        for="subscription-frequency-{{ frequency | lowercase }}"
        >{{ frequency }}</label
      >
    </div>
  </div>
  <div class="m-5">
    <h3 class="pb-2">Selected Countries</h3>
    <app-selected-items
      [itemType]="'country'"
      [(items)]="selectedCountries"
    ></app-selected-items>
  </div>
  <div class="m-5">
    <h3 class="pb-2">Selected Categories</h3>
    <app-selected-items
      [itemType]="'category'"
      [(items)]="selectedCategories"
    ></app-selected-items>
  </div>
  <button class="btn btn-primary ml-5" (click)="saveProfile()">
    Save Profile
  </button>
</div>
