<div>
  <span>Manage your favourite news categories</span>
  <app-news-category
    [(categorySelected)]="selectedCategory"
  ></app-news-category>
  <button class="btn btn-primary" (click)="addSelectedCategory()">
    Add Category
  </button>
  <app-news-country [(countrySelected)]="selectedCountry"></app-news-country>
  <button class="btn btn-primary" (click)="addSelectedCountry()">
    Add Country
  </button>
  <app-selected-items
    [itemType]="'country'"
    [(items)]="selectedCountries"
  ></app-selected-items>
  <app-selected-items
    [itemType]="'category'"
    [(items)]="selectedCategories"
  ></app-selected-items>
  <button class="btn-primary" (click)="saveProfile()">Save Profile</button>
</div>
